.psa{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    color: red;
}
p{
    font-size: 25px;

}

.psa_warning{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.psa_category{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
}