@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

*{
  margin: 10px;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
}
body{
  background: #121212;
  /*white overlay transperency*/
  background: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 1));
  color: #f5f5f5;

}
a{
  text-decoration: none;
  color: inherit;
  line-height: 1;
  cursor: pointer;
}
.cusContainer{
  padding-left: 10%;
  padding-right: 10%;
}


/*for responsive*/
@media (max-width: 1000px){
  .cusContainer{
    padding-left: 5%;
    padding-right: 5%;
  }
  .cusBtn{
    padding: 10px 20px;
    font-size: 14px;
  }
}